/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Passion+One:400,700);
@import "materialize/components/color";
$primary-color: #3B4142 !default;
 @import "materialize";
 #side-squeezer {
   margin-left:55px;
   margin-right:55px;
 }
 h1{
   display:inline-block;
 }
      .font-name {
        color: rgb(0,144,255);
        font-size: 12px;
      }
    a {
      color:#3B4142;
      transition: all .25s ease;
    }

    a:hover {
      color:#FF4400;
    }
    .tweetlink {
      font-family:'Lato', sans-serif;
      font-weight: 700;
      font-size:18px;
      line-height:42px;
    }
    iframe {
      border:none;
    }

#session {
  padding-left:60px;
  padding-top: 11px;
  font-size: 50px;
font-family: 'Passion One', cursive;
  font-weight: 400;
  character-spacing:5px;
  height:78px;
}

.buff {
    margin-top: -42px;
}
.phatty {
  border: 4px solid #FF4400;
  width: 10%;
  position: absolute;
  margin-top: 30px;
}
.section {
  margin-top: 23px;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.subsection {
  font-family: 'Lato', sans-serif;
  color: #B6B5B6;
  font-weight: 300;
  margin-top: -50px;
  font-size:28px;
}
#headlines {
  display: inline-block;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #F5FAFC;
  background-color: #FF4400;
  padding: 10px;
  margin-top: 0px;
  text-align:center;
}
#col2 {
  border: 3px solid #FF4400;
}
#col3 {
  border: 3px solid #FF4400;
  width: 1000px;
  height: 10%;
}

#news-box{
  width: 4600px;
  height: 300px;
  overflow:hidden;
}
.insta-holder {
  position: relative;
  width:100%;
}
.news-content{
  display: inline-block;
  width: 300px;
  height: 100px;
  padding-right: 30px;
  position: inherit;

}

#wrapper {
  overflow: scroll;
  padding: 10px;
  padding-top: 0px;
  margin-top: -18px;
}
#tweetbox {
  margin-top: 29px;
  background-color: #F5FAFC;
  width:100%;
}
.materialbox {
  margin-right: -75px;
}
#photobox {
  height:300px;
  width: 300px;
 overflow:auto;
}
#vid-box {
  height: 565px;
  overflow:scroll;
}
#mu-box {
  height: 510px;
  overflow: visible;
}

#mu-box > iframe {
}

.strong {
  font-size: 18px;
  font-family:'Lato', sans-serif;
  font-weight:700;
  color:#3B4142;
  margin-bottom: 30px;
  margin-top: 10px;
}
.headline {
  font-family:'Lato', sans-serif;
  font-size:18px;
  line-height: 22px;
  font-weight:700;
  text-align:left;
  margin-top: -14px;
}

.insta-info {
    font-family:'Lato', sans-serif;
    position: relative;
    width: 100%;
    word-wrap: break-word;
}

.insta-info > p {

margin-right: 35px;

}

.depad {
  margin: -10px;
}
.emph {
  color: #FF4400;
}
.source {
  margin-top:10px;
  font-family:inherit;
  font-weight: 400;
  font-size: 14px;
  color:#55ACEE;
  text-align:left;
}
.tweetcol {
margin-left:200px
}
.secsource {
    color:#55ACEE;
}
.right {
  float: right;
  padding-right:60px;
  margin-top: -21px;
margin-bottom: 4px;
}
.log {
  padding-top: 0;
  border: 1px solid #3B4142;
  transition: all .25s ease;
  font-size: 12px;
  padding: 5px;
}
.body-ar {
font-family: 'EB Garamond', serif;
font-weight:400;
  text-align:left;
  font-size:15px;
  line-height:18px;
  margin-top:-9px;
}
.log:hover {
  color:#55ACEE;
}
#secondrow {
margin-top: -70px;
}
#photo-gallery {
  display:flex;
}

.csslider {
  position: relative;
  margin-left:10%;

}
// .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2)
{
display: block;
left: 0;
border-width: 17.5px 20px 17.5px 0;
right: auto;
border-color: transparent #FF4400  transparent transparent;
}
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3)
// .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(3)
{
display: block;
right: 0;
border-width: 17.5px 0 17.5px 20px;
left: auto;
border-color: transparent transparent transparent #FF4400;


}
.csslider > input {
  display: none;

}

.csslider > .uly {
  position: relative;
  width: 100%;
  height: 420px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.csslider > .uly > .ily {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  white-space: normal;
}

.news-content {
  display: inline-block;
  width: 250px;
  height: 300px;
  overflow: hidden;
  word-break: normal;
  vertical-align: top;

}

/* Navigation */

.csslider > .navigation {
  position: absolute;
  bottom: 130px;
  left: calc(50% - 96px);
}
.csslider > .arrows {
  height: 26px;
  display: block;
  width:105%;
  top:27%;
  left:-70px;
  box-sizing: content-box;
  position: absolute;
}
.csslider > .arrows  label{
  cursor: pointer;
  display: none;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  padding: 4px;
  background: #3a3a3a;
}

.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #FF4400;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}

.csslider > .navigation label:hover:after {
  opacity: 1;
}

/* Slider Movement */
.csslider > input:nth-of-type(1):checked ~ .uly .ily:first-of-type {
  margin-left: 0%;
}
.csslider > input:nth-of-type(2):checked ~ .uly .ily:first-of-type {
  margin-left: -100%;
}
.csslider > input:nth-of-type(3):checked ~ .uly .ily:first-of-type {
  margin-left: -200%;
}
.csslider > input:nth-of-type(4):checked ~ .uly .ily:first-of-type {
  margin-left: -300%;
}
.csslider > .arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
//Responsive elements
@media (min-width: 1900px) {
  .csslider {
    margin-left:20%;
  }
}
@media (min-width: 1900px) {
  .instacol{
    margin-right:146px;
  }
}
@media (min-width: 700px) {
  .instacol {
    float:right;
  }
}

@media (max-width: 1248px) {
  #side-squeezer {
    margin-right:30px;
    margin-left:30px;
  }
}
@media (max-width: 1184px) {
  #side-squeezer {
    margin-right:5px;
    margin-left:5px;
  }
}

@media (max-width: 1134px) {
  .csslider > .navigation {
    bottom: -24px;
    left: calc(50% - 150px);
  }
}
@media (max-width: 1134px) {
  #secondrow {
    margin-top: -5px;
  }
}
@media (max-width: 1134px) {
  .csslider > .uly {
    height: 560px;
  }
}
@media (max-width: 1134px) {
  .csslider > .arrows {
    left: -110px;
  }
}
@media (max-width: 1134px) {
  .csslider > .uly > .ily {
  left: 4%;
  }
}
@media (max-width: 775px){
  .csslider > .arrows {
    width: 525px;
  margin-left: 105px;
  }
}
@media (max-width: 503px){
  .csslider > .arrows {
display: none
  }
}
@media (max-width: 1134px) {
  .csslider > .arrows  label{
    top: 488%;
  }
}
@media (max-width: 1134px) {
  .csslider {
    max-width:750px;
    margin:0 auto;
    left:12.5%;
  }
}
@media (max-width: 851px) {
  #side-squeezer {
    margin-right:0px;
    margin-left:0px;
  }
}
/*tweetbox queries*/
@media (max-width: 799px){
  #tweetbox {
    text-align: center;
  }
}
@media (max-width: 799px){
  .tweetcol {
    width:100%;
  }
}

.soundcloudspace {
  margin-bottom: 5px;
}
