/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Passion+One:400,700);
@import "materialize/components/color";
$primary-color: #3B4142 !default;
 @import "materialize";
 h1{
   display:inline-block;
 }
      .font-name {
        color: rgb(0,144,255);
        font-size: 12px;
      }
    a {
      color:#3B4142;
      transition: all .25s ease;
    }

    a:hover {
      color:#55ACEE;
    }
    .tweetlink {
      font-family:'Lato', sans-serif;
      font-weight: 700;
      font-size:18px;
      line-height:42px;
    }
    iframe {
      border:none;
    }

#session {
  padding-left:60px;
  padding-top: 11px;
  font-size: 50px;
font-family: 'Passion One', cursive;
  font-weight: 400;
  character-spacing:5px;
  height:78px;
}

.buff {
    margin-top: -42px;
}
.phatty {
  border: 4px solid #FF4400;
  width: 10%;
  position: absolute;
  margin-top: 30px;
}
.section {
  margin-top: 23px;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.subsection {
  font-family: 'Lato', sans-serif;
  color: #B6B5B6;
  font-weight: 300;
  margin-top: -50px;
  font-size:28px;
}
#headlines {
  width:100%;
  display: inline-block;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #F5FAFC;
  background-color: #FF4400;
  padding: 10px;
  margin-top: 0px;
  text-align:center;
}
#col2 {
  border: 3px solid #FF4400;
}
#col3 {
  border: 3px solid #FF4400;
  width: 1000px;
  height: 10%;
}
#news-box{
  width: 4600px;
  height: 300px;
}
.insta-holder {
  position: relative;
  width:100%;
}
.news-content{
  display: inline-block;
  width: 300px;
  height: 100px;
  padding-right: 30px;
  position: inherit;

}
#wrapper {
  overflow: scroll;
  padding: 10px;
  padding-top: 0px;
  margin-top: -18px;
}
#tweetbox {
  margin-top: 29px;
  background-color: #F5FAFC;
}
#photobox {
  height:300px;
  width: 300px;
 overflow:auto;
}
#vid-box {
  height: 650px;
  overflow: scroll;
}
#mu-box {
  height: 610px;
  overflow: scroll;
}
#side-squeezer {
  margin-left:60px;
  margin-right:60px;
}
.strong {
  font-family:'Lato', sans-serif;
  font-weight:700;
  color:#0A558A;
}
.headline {
  font-family:'Lato', sans-serif;
  font-size:18px;
  line-height: 22px;
  font-weight:700;
  text-align:left;
  margin-top: -14px;
}
.insta-info {
    font-family:'Lato', sans-serif;
    position: relative;
    width: 100%;
}
.depad {
  margin: -10px;
}
.emph {
  color: #FF4400;
}
.source {
  margin-top:10px;
  font-family:inherit;
  font-weight: 400;
  font-size: 14px;
  color:#55ACEE;
  text-align:left;
}
.secsource {
    color:#55ACEE;
}
.right {
  float: right;
  padding-right:60px;
  margin-top: -21px;
margin-bottom: 4px;
}
.log {
  padding-top: 0;
  border: 1px solid #3B4142;
  transition: all .25s ease;
  font-size: 12px;
  padding: 5px;
}
.body-ar {
font-family: 'EB Garamond', serif;
font-weight:400;
  text-align:left;
  font-size:15px;
  line-height:18px;
  margin-top:-9px;
}
.log:hover {
  color:#55ACEE;
}
#photo-gallery {
  display:flex;
}
